p {
  text-align: center;
}
div {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

a.list-group-item {
  height: auto;
  min-height: 220px;
}
a.list-group-item.active small {
  color: #fff;
}
a.list-group-item .vs-title {
  font-size: 110px;
}
.fa {
  font-size: 100px;
  color: #ffffff;
}
.social a {
  text-decoration: none;
}
.twitter {
  background-color: #00acee;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.facebook-like {
  background-color: #3b5998;
  border-radius: 4px;
  margin-top: -3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.media {
  padding: 10px;
}
